* {
    box-sizing: border-box;
}

:root {
    // light theme
    --main-color-light: #244D38;
    --background-light: #F4F6F2;
    --panels-light: #ffffff;
    --main-text-light: #213B2D;
    --helper-text-light: #626E65;
    --accent-1-light: #E9F0E4;
    --highlight-light: #F0F5EB;
    --borders-light: #E0E6DD;
    // dark theme
    --main-color-dark: #C3E9B8;
    --background-dark: #111914;
    --panels-dark: #1A251E;
    --main-text-dark: #EDF3EB;
    --helper-text-dark: #AAB9AE;
    --accent-1-dark: #2A3C2B;
    --highlight-dark: #263B29;
    --borders-dark: #35433A;
}